mixin placeholderSoPugReadsThisShiButThatActuallyIsTheIdentityMixinIGuess(potat)
    = `${potat}`



-
    const CSS = (className) => {
        const daisy = {
            nav: "navbar bg-base-100",
            navButton: "btn btn-ghost normal-case text-xl",
            dropdownUl: "mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
        }
        return daisy[className]
    }