// Utilities
include ../util/tera.pug
include ../util/classes.pug

// Components
include ../components/navbar.pug
include ../components/head.pug
include ../components/misc.pug

// Definitions
!= Tdef(`set bundle = get_url(path="bundle.js")`)

// Page
doctype html 
html(lang = "en")
    +head
    body 
        header
            +navbar
            +hr
        main
            +Tblock("content")
    script(src = T_unsafe("bundle"))