// Utilities
include ../util/tera
include ../util/classes

// Components
include ../components/navbar
include ../components/head
include ../components/base

// Definitions
!= Tdef(`set bundle = get_url(path="bundle.js")`)

// Page
doctype html 
html(lang = "en")
    +head
    body 
        header
            +navbar
        main
            +hr
            +Tblock("content")
    script(src = T_unsafe("bundle"))