mixin avatarDropdown(imageSrc) 
    div(class="dropdown dropdown-end")
        label(tabindex="0", class="btn btn-ghost btn-circle avatar")
            div(class="w-10 rounded-full")
                img(src=`${imageSrc}`)
        ul(class=CSS("dropdownUl"))
            block