mixin badgeDropdown 
    div(class="dropdown dropdown-end")
        label(tabindex="0", class="btn btn-ghost btn-circle avatar")
            div(class="w-10 rounded-full")
                img(src="https://api.lorem.space/image/face?hash=33791")
        ul(class=CSS("dropdownUl"))
            li
                a(class="justify-between") Potat 
                    span(class="badge badge-success") Tasty!
            li
                a(class="justify-between") Candy 
                    span(class="badge badge-info") Sour!
            li
                a(class="justify-between") Candy
                    span(class="badge badge-error") Sad :(